@font-face {
    font-family: 'Overpass';
    src: url('./fonts/Overpass-Regular.otf') format('opentype'),
        url('./fonts/Overpass-Regular.woff2') format('woff2'),
        url('./fonts/Overpass-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'YesEva';
    src: url('./fonts/YesevaOne-Regular.otf') format('opentype'),
        url('./fonts/YesevaOne-Regular.woff') format('woff'),
        url('./fonts/YesevaOne-Regular.woff2') format('woff2'),
        url('./fonts/YesevaOne-Regular.ttf') format('ttf');
}

:root {
    --option-height-px: 40px;
    --max-visible-options: 6;
    --max-visible-select-options: 8;
    --ink-color-hex: #42519f;
    --output-height-pc: 30%;
    font-size: 16px;
}

* {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}

*:focus-visible {
    outline: 1px solid var(--ink-color-hex);
}

body {
    background-color: #8d8f9a;
    font-variant-numeric: tabular-nums;

    @media (max-width: 767px) {
        width: 100%;
        height: 100vh;
        margin: 0;
    }
}

input {
    font-size: 0.9rem;
}

button {
    cursor: pointer;
}

.container {
    position: relative;
    display: flex;
    margin: 40px auto 0;
    width: 95vw;
    max-width: 900px;
    min-height: 600px;
    height: 90vh;
    max-height: 650px;
    border: 20px solid #171a26;
    border-radius: 15px;
    background: linear-gradient(
        #cccfe1 calc(100% - var(--output-height-pc)),
        #98a0c3 calc(100% - var(--output-height-pc))
    );
    box-shadow: 76px 76px 152px #595b67, -76px -76px 152px #7b7c86,
        inset 0px 0px 12px 3px #171a27;

    @media (max-width: 767px) {
        width: 100%;
        height: 100%;
        margin: 0;
        border: none;
        border-radius: 0;
        max-height: 770px;
    }
}

.calc-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: 'YesEva', serif;
    font-size: 3rem;
    margin-block-start: 1em;
    margin-block-end: 0.5em;
    text-align: center;
    color: var(--ink-color-hex);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: normal;

    @media (max-width: 991px) {
        font-size: 2.5rem;
    }

    @media (max-width: 767px) {
        font-size: calc(1.1rem + 3vw);
        margin-block-end: 0;
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 991px) {
        width: 80%;
    }
}

.input-row {
    display: flex;
    width: 100%;

    @media (max-width: 991px) {
        flex-direction: column;
    }

    @media (max-width: 767px) {
        min-width: 230px;
        width: 100%;
        max-width: 400px;
    }
}

.input-row:first-of-type {
    margin-bottom: calc(var(--option-height-px) / 2);
}

.text {
    margin-right: 20px;
    text-align: right;
    padding: calc(var(--option-height-px) * 0.3) 0;
    width: 190px;
    color: var(--ink-color-hex);
    font-size: 1rem;
    height: var(--option-height-px);

    @media (max-width: 991px) {
        width: auto;
        padding: 0;
        text-align: start;
        height: 1.5rem;
    }
}

.input-base-rate {
    position: relative;
    height: var(--option-height-px);
    border: none;
    padding-left: 20px;
    border-radius: 5px;
    background-color: #f2f3f7;
}

.currency-selection {
    display: flex;
    flex-direction: row;
    cursor: pointer;

    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.select-container {
    position: relative;
    background-color: #f2f3f7;
    flex-grow: 1;
    border-radius: 5px;
    min-width: 230px;
    width: 100%;
    max-width: 320px;
    height: var(--option-height-px);

    @media (max-width: 767px) {
        max-width: 400px;
    }
}

.select-container:focus-within {
    outline: 1px solid var(--ink-color-hex);
}

.open {
    z-index: 2;
    border-radius: 5px 5px 0 0;
}

.chosen-currency {
    position: relative;
    border-radius: 5px;
    height: var(--option-height-px);
}

.chosen-currency::after {
    content: '';
    height: 0;
    width: 0;
    border-style: solid;
    border-color: #292d41 transparent transparent;
    border-width: 5px;
    position: absolute;
    right: 11px;
    top: 50%;
    transform: translateY(-25%);
    pointer-events: none;
    transition: transform 0.2s;
    z-index: 1;
}

.open .chosen-currency::after {
    transform: translateY(-75%) rotateZ(180deg);
    transition: transform 0.2s;
}

.toggle-container {
    background-color: #f2f3f7;
    position: absolute;
    display: none;
    min-height: var(--option-height-px);
    max-height: calc(var(--option-height-px) * 8);
    border-radius: 0 0 5px 5px;
    z-index: 1;
    overflow: hidden;
    width: 100%;
}

.open .toggle-container {
    display: block;
}

.search-input {
    background-color: inherit;
    width: 100%;
    height: var(--option-height-px);
    padding-left: 1.2rem;
    border-width: 1px;
    border-color: #d0d4e7 transparent;
}

.search-input:focus-visible {
    border: none;
}

.select-currencies {
    width: 100%;
    max-height: calc(
        var(--option-height-px) * var(--max-visible-options)
    );
    overflow: auto;
    scrollbar-color: #98a0c3 #d8dbe8;
}

.select-currencies:focus-visible {
    background-color: rgb(245, 245, 245);
}

.select-currencies > .option-currency {
    border-bottom: 1px solid #e5e7f0;
}

.option-currency {
    height: var(--option-height-px);
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1.5rem;
}

.option-currency:hover,
.option-currency:focus-visible {
    background-color: #d9e0ff;
}

.icon-flag {
    width: 1.5rem;
    height: calc(1.5rem * 0.75);
    border-radius: 3px;
    margin-right: 0.5rem;
}

.option-currency span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.9rem;
    height: 100%;
    padding: calc(var(--option-height-px) * 0.33) 0;
}

.swap-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    width: var(--option-height-px);
    height: var(--option-height-px);
}

button svg {
    fill: var(--ink-color-hex);

    @media (max-width: 767px) {
        transform: rotateZ(90deg);
    }
}

.calc-button {
    margin: 0 auto;
    cursor: pointer;
    height: 3rem;
    width: 10rem;
    text-transform: lowercase;
    color: #d8dbe8;
    font-family: 'Yeseva', serif;
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    background-color: var(--ink-color-hex);
    border-radius: 10px;
    box-shadow: 7px 7px 24px #676d85, -7px -7px 24px #c9d3ff;
}

.calc-button:hover {
    filter: brightness(1.1);
}

.calc-button:active {
    background: linear-gradient(145deg, #323d77, #5365c7);
    box-shadow: inset 7px 7px 24px #2e396f,
        inset -7px -7px 24px #5669cf, 1px 1px 15px #676d85,
        -1px -1px 15px #c9d3ff;
}

.output-container {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0;
    width: 100%;
    height: var(--output-height-pc);
}

.load-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-25px);
    visibility: hidden;
    opacity: 0;
}

.loading {
    width: 50px;
    height: 50px;
    border: 2px solid var(--ink-color-hex);
    border-radius: 50%;
    border-left: none;
    border-bottom: none;

    visibility: visible;
    opacity: 1;

    animation-name: loader;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes loader {
    0% {
        transform: translateX(-50%) translateY(-50%) rotate(0);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}

.result-container {
    color: var(--ink-color-hex);
    opacity: 0;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 95%;
}

.result-calculate {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

    @media (max-width: 767px) {
        font-size: 1.5rem;
    }
}

.result-unit {
    font-size: 1rem;
    text-align: center;
}
